# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
venv311

# Python cache
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Data output folders (avoid committing large datasets)
data/raw/
temp/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# yt-dlp cache (optional)
*.yt-dlp

# Misc
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
